body, h1, h2, h3, h4, h5, h6, p, label, input, form {
    margin: 0;
    padding: 0;
  }
  #getinfo {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
  }
  
  /* Style the header */
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the form container */
  #form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    max-width: 300px;
  }
  
  
  
  #form input[type="text"],
  #form input[type="password"],
  #form input[type="submit"] {
    width: 100%;
    padding: 8px; /* Adjusted padding for textboxes and submit button */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures the total width includes padding and border */
  }
  
  #form input[type="checkbox"] {
    margin-right: 5px;
  }
  
  #form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    /* Ensuring the submit button doesn't take full width */
    display: inline-block;
    width: auto;
  }
  
  /* Style the logout button */
  #logout-btn {
    width: 20%;
    padding: 8px; /* Adjusted padding for the logout button */
    margin-top: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Center the Get Info header */
  #getinfo {
    text-align: center;
    margin-bottom: 20px;
  }